@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2.Common Styling
  3. Header / .header
    3.1 Logo  
    3.2 Navigation / .navbar
  4. Main
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* ==========================================================================
   2.Common Styling
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }

.wrapper {
  max-width: 1500px;
  width: 84%;
  margin: 0 auto;
}

.fas { padding-right: 5px; }
body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }

.inline-block { 
  display: inline-block;
  vertical-align: top;
}

.transition {
   -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a { 
  display: inline-block;
  text-decoration: none;
}

/* ==========================================================================
   3.Header
   ========================================================================== */

   /* 3.1 Logo */
    .inline-block a{
      text-decoration: none;
      color: black;
      position: absolute;
      z-index: 1;
      vertical-align: middle;
      margin: 17px 22px;
      left: 2%;
      top: 0%;
    }

    .inline-block img{
      width: 60px;
      height: 60px;
    }

   /* 3.2 Navigation */
    .nav-bar{
      width: 100%;
      position: fixed;
      background-color: black;
      opacity: 0.8;
      display: flow-root;
      padding: 50px 0;
      z-index: 999;
    }
    

    .nav-bar h1{
      float: left;
    }
    
    .nav-left{
      display: inline-block;
      left: 10%;
      width: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .nav-left ul li{
      display: inline-block;
      padding: 8px;
    }
    
    .nav-left ul li a{
      text-decoration: none;
      color: white;
    }

    .nav-right{
      position: absolute;
      display: inline-block;
      right: 4%;
      top: 50%;
      transform: translateY(-50%);
    }

    .nav-right li{
      display: inline-block;
      
      padding: 4px  5px;
    }
    .nav-right li:last-child{
      background-color: #534d53;
       margin: 0;
        padding: 5px 3px !important;
    }

    .nav-right a{
      text-decoration: none;
      color: white;
    }

    .nav-right li:last-child > a{
      font-size: 0.9em;
     

    }
   /* ==========================================================================
   4.Main
   ========================================================================== */
    .banner{
      background: url("../images/banner_img.jpg") no-repeat center;
      background-size: cover;
      width: 100%;
      margin: 100px 0;
      margin: 0 ;
      position: relative;
    }
    
    .banner-wrapper{
      padding-top: 12%;
      padding-left: 10%;
      padding-bottom: 30%;

    }
    .banner-wrapper h2{
      font-weight: bold;
      font-size: 40px;
    }

    .banner-wrapper a {
      color: white;
      background-color: #dab131;
      padding: 10px 10px;
      font-size: 20px;
      margin-top: 45px;
      font-weight: normal;


    }

    .banner p{
      width: 100%;
      background-color: black;
      opacity: 0.8;
      color: white;
      font-size: 13px; 
      position: absolute;
      bottom: 10%;
      text-align: center;
      left: 0; 
      padding: 5px 0;
      display: flow-root;
    }

    .banner-wrapper span{
      position: absolute;
      left: 50%;
      bottom: 5%;
      color: #dab131;
      font-size: 30px;

    }

    .slider{
      position: absolute;
      left: 0%;
      bottom: 2%;
      width: 210px;
      text-align: center;

 
    }

   .slider i {
          display: inline-block;
          width: 55px;
          height: 2px;
          background: #000;
          border-radius: 2px;
          margin-left: 10px;
    }

    .slider i:nth-child(2){
      background: #dab131;
    }

    .bg-section{
      padding: 10% 0;
      background: url("../images/5acb4ea6463a9.png") no-repeat center;
      background-size: cover;
      border-top: 1px solid black;
      position: relative;
    }

    .bg-section h2{
      width: 100%;
      text-align: center;
      font-size: 39px;
      font-weight: bold;
      padding: 0%;
      border: none;
      margin-top: 5%;
      color: black;
      display: inline-flex;

    }

    .bg-section span:nth-child(1){
      float: left;
      width: 40%;
      display: inline-block;
      text-align: right;
      border-bottom: 5px solid;
      padding: 0;

    }

    .bg-section span:nth-child(2){
      transform: translateY(-10%);
      display: inline-block;
      border-bottom: 5px solid;
      float: left;
      padding: 0;
    }

    .bg-section span:nth-child(3){
      float: left;
      width: 55%;
      display: inline-block;
      text-align: left;
      border-bottom: 5px solid;
      padding: 0;
    }

    .cd-section{
      width: 100%;
      position: relative;
      display: block;
      padding: 25% 0;
    }

    .configurator{
    background: url(../images/config-mobile-1.jpg) no-repeat;
    background-position: 270% 100%;
    width: 70%;
    padding: 25% 0;
    background-size: 112% 134%;
    position: absolute;
    z-index: 3;
    top: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
    background-color: #ebeff2;
   
    }

    .configurator > .content {
      left: 20%;
      top: 10%;
      position: absolute;
    }

    .configurator > .content h3{
      display: block;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .configurator > .content a{
      background-color: #d8b417;
      color: white;
      padding: 10px;
      text-transform: uppercase;
      margin-top: 10%;
    }

    .dealer{
      background: url("../images/dealer-mobile.jpg") no-repeat;
      background-position: right top;
      background-size: 100% 100%;
      right: 0;
      top: 0;
      width: 100%;
      position: absolute;
      padding: 25% 0;

    }

    .cd-section img{
      height: 580px;
    }

    .dealer > .content{
    text-align: left;
    width: 20% !important;
    padding: 0;
    position: absolute;
    bottom: 15%;
    right: 20%;
    display: inline-block;
    width: 100%;
    }

    .dealer > .content h3{
      display: block;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
     
    }

    .dealer > .content a{
      background-color: #d8b417;
      color: white;
      padding: 10px 20px;
      margin-top: 10%;
      text-transform: uppercase;
      }
    .news-section{
      position: relative;
      width: 100%;  
      display: block;
      vertical-align: top;
    }

    .news-section h2{
      text-align: center;
      font-size: 3.8em;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 10%;
      margin-bottom: 2%;
      text-decoration: underline;

    }


    .news1-items{
      position: relative;
      display: inline-block;
      background: url("../images/5acb4ea6463a9.png") no-repeat center;
      padding: 25% 0;
      width: 98%;
      background-size: cover;
      vertical-align: top;
      margin-right: 2%;
      float: left;
      font-weight: bold;

    }
    .news1-items h3{
      position: absolute;
      bottom: 10%;
      left: 0%;
      padding: 0 5%; 
      font-size: 1.2em;
    }

    .news2-items{
      position: relative;
      display: inline-block;
      background: url("../images/5acb4ea6463a9.png") no-repeat center;
      padding: 40% 0;
      width: 100%;
      background-size: cover;
    }

    .news2-items h3{
      position: absolute;
      bottom: 10%;
      left: 0%;
      padding: 0 5%; 
      font-size: 1em;
      font-weight: bold;
    }
    .row a{
      width: 100%;
      display: inline-block;
      color: black;
      transition: all 0.2s;
    }

    .row a:hover{
      transform: scale(1.1);
    }

    .news3-items{
      position: relative;
      display: inline-block;
      background: url("../images/5acb4ea6463a9.png") no-repeat center;
      padding: 40% 0;
      width: 100%;
      background-size: cover;
      display: inline-block;
    }

    .news3-items h3{
      position: absolute;
      bottom: 10%;
      left: 0%;
      padding: 0 5%; 
      font-size: 1em;
      font-weight: bold;

    }

    .news4-items{
      position: relative;
      display: inline-block;
      background: url("../images/5acb4ea6463a9.png") no-repeat center;
      padding: 84% 0;
      width: 100%;
      background-size: cover;
      display: inline-block;
      transition: all 0.2s;
    }

    .news4-items h3{
      position: absolute;
      bottom: 5%;
      left: 0%;
      padding: 0 5%; 
      font-size: 1em;
      font-weight: bold;
    }

    .row {
      width: 65%;
      vertical-align: top;
      float: left;
    }

    .news-section a[title="discover"]{

      display: inline-block;
      text-align: center;
      margin: 5% 43%;
      color: white;
      font-size: 0.9em;
      background-color: #dbb315;
      padding: 10px;
    }

    a[title="news1"]{
      display: inline-block;
      float: left;
    }

    a[title="news4"]{
      width: 35%;
    display: inline-block;
    color: black;
    transition: all 0.2s;
    }

    a[title="news4"]:hover{
      transform: scale(1.1);
    }

    a[title="news2"]{
    width: 48%;
    display: inline-block;
    color: black;
    transition: all 0.2s;
    margin-top: 2%;
    margin-right: 2%;
    float: left;
      vertical-align: top;
    }
    a[title="news3"]{
    width: 48%;
    display: inline-block;
    color: black;
    transition: all 0.2s;
    margin-top: 2%;
    margin-right: 2%;
    float: left;
    vertical-align: top;
    }

    .huracan{
      background: url("../images/5acb4ea6463a9.png") no-repeat center;
      background-size: cover;
      padding-left: 10%;
      padding-top: 8%;
      padding-bottom: 20%;
    }

    .huracan h2{
      font-size: 1.5em;
      font-weight: bold;
    }

    .huracan p{
      font-size: 1.2em;
      font-weight: bold;
    }

    .huracan a{
      color: white;
      padding: 10px 20px;
      background-color: #d8b417;
      font-size: 1.5em;
      margin-top: 30px;
    }
   /* ==========================================================================
   5.Footer
   ========================================================================== */